* {
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    z-index: 99;
}
#search:hover {
    color: white;
    background-color: orange;
}
#logo:hover {
    letter-spacing: 2px;
    font-size: 150%;
}
#link:hover {
    color: orange;
}
.caminho-pagina {
    padding-top: 12%;
}
.caminho-pagina a {
    color: black;
    text-decoration: none;
}
.caminho-pagina a:hover {
    color: orange;
}
.meio {
    background-color: #eceaea;
}
.container img {
    float: left;
    margin: 0 2%; 
}
footer {
    background: black;
    padding: 85px 50px;
}
.single-content {
    padding: 115px 0;
    text-align: center;
}
.single-box p {
    color: white;
    line-height: 1.9;
}
.single-box h3 {
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
}
.single-box .card-area i {
    color: whitesmoke;
    font-size: 20px;
    margin-right: 10px;
}
.single-box ul {
    list-style: none;
    padding: 0;
}
.single-box ul li a {
    text-decoration: none;
    color: whitesmoke;
    line-height: 2.5;
    font-weight: 100;
}
.single-box h2 {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
}
#basic-addon2 {
    color: whitesmoke;
}
.socials a {
    font-size: 18px;
    color: whitesmoke;
    padding-right: 8px;  
}
.single-box a:hover {
    color: orange;
}
@media (max-width: 766px) {
    .single-box {
        margin-bottom: 10%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .single-box {
        margin-bottom: 10%;
    }
}
@media (max-width: 991px) {
    .quem-sou img {
        padding-left: 0%;
        padding-right: 5%;
        width: 100%;
    }
    .caminho-pagina {
        padding-top: 8%;
    }
}
@media (max-width: 761px){
    .caminho-pagina{
        padding-top: 17%;
    }
}
@media (min-width: 991px){
    .caminho-pagina{
        padding-top: 15%;
    }
}